.roomSchedule {
  display: grid;
  grid-template-columns: 245px auto
}

.floorNameColumn {
  padding-left: 21px;
}

.floorNameColumnText {
  margin-top: 21px;
  margin-bottom: 5px;
  font-size: 11px;
  text-transform: uppercase;
  font-family: HelveticaNeue, Open-sans, sans-serif;
  font-weight: 600;
  color: #858E98;
  word-spacing: 0.4px
}

.roomInfo {
  height: 44px;
  padding-left: 21px;
}

.roomInfoName {
  margin-top: 5px;
  font-family: HelveticaNeue, Open Sans, sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #000000;
  line-height: 17px
}

.roomInfoCapacity {
  font-family: HelveticaNeue, Open Sans, sans-serif;
  font-size: 13px;
  color: #000000;
  line-height: 17px
}

.gridRow {
  display: flex;
  background-color: rgb(246,246,249)
}

.scheduleGridItem {
  flex-grow: 1;
  width: 100%;
  border-collapse: collapse;
  border-right: 1px solid rgba(19,100,205,0.10)
}

.scheduleGridItemRoom {
  display: flex;
  margin-top: 8px;
  margin-bottom: 8px;
  height: 28px;
  border-collapse: collapse;
  background-color: white;
  border-right: 1px solid rgb(231,236,251);
  margin-right: -1px;
  cursor: pointer;
}
.scheduleGridItemRoomBusy {
  height: 100%;
  background-color: rgb(213, 223, 233);
  /*border-right:  1px solid rgb(200, 211, 238);*/
}

.scheduleGridItemRoomEmpty {
  height: 100%;
  background-color: white;
}
.scheduleGridItemRoomBusy:hover {
  background-color: rgb(169, 177, 184);
}
.scheduleGridItemRoomEmpty:hover {
  background-color: #2B50FD;
  transform: scale(1.05)
}
.pieceScheduleGridItem {
  flex-grow: 0.5;
  width: 50%;
  border-right: 1px solid rgba(19,100,205,0.10);
}
.pieceScheduleGridItemRoom {
  margin-top: 8px;
  margin-bottom: 8px;
  height: 28px;
  border-collapse: collapse;
  background-color: white;
  border-right: 1px solid rgb(231,236,251);
  margin-right: -1px;
  cursor: pointer;
}
.pieceScheduleGridItemRoomEmpty {
  height: 100%;
  background-color: white;
}
.pieceScheduleGridItemRoomBusy {
  background-color: #D5DFE9;
}

.pluseSign {
  width: 100%;
  height: 100%;
  color:white;
  font-weight: 600;
  text-align: center;
  font-size: 24px;
}


.eventToolTipParent {
  position: relative;
}
.eventTooltip {
  position: absolute;
  width: 338px;
  left: calc(-169px + 50%);
  top: 0px;
  height: 120.8px;
  margin-top: 28px;
  background-color: white;
  box-shadow: 0 1px 16px rgba(0,0,0,0.2);
  border-radius: 6px;
}

.triangleBorder {
  background: transparent;
  position: relative;
}

.triangleBorder:before {
  content: ''; 
  position: absolute;
  left: 158px;
  bottom: 0px;
  border: 9px solid transparent;	border-bottom: 9px solid white;
}

.editEvent {
  float: right;
  margin-right: 5px;
  margin-top: 5px;
  width: 24px;
  height: 24px;
  background-color: #E9ECEF;
  border-radius: 100px;
  text-align: center;
}
.editEvent:hover {
  background-color: rgb(204, 206, 207);
}
.editEvent img {
  margin-top: 6px;
  opacity: 0.43;
}

.eventInfo h1 {
  margin: 12px 16px 2px 16px;
  font-family: HelveticaNeue-Bold, Open Sans, sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #000000;
  letter-spacing: 0;
  line-height: 24px;
}


.eventInfo p {
  margin: 0px 16px;
  font-family: HelveticaNeue, Open Sans, sans-serif;
  font-size: 13px;
  color: #000000;
  letter-spacing: 0;
  line-height: 17px;
}

.eventInfo p:last-child {
  margin-top: 19px;
}
.mentorName {
  margin-left: 9px;
}
.amountPeople {
  color: rgb(138, 138, 138);
}
.mentorAvatar {
  position: relative;
  top: 6px;
  width: 24px;
  height: 24px;
  border-radius: 100%;
}



/*dateCell*/

.dateCell {
  height: 45px;
  border-bottom: 1px solid rgb(240,240,240);
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonNextDate, .buttonPreviousDate {
  width: 24px;
  height: 24px;
  background: rgb(233, 236, 239);
  border-radius: 100px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
.buttonNextDate:hover, .buttonPreviousDate:hover {
  background-color: rgb(190, 192, 194);
}

.buttonNextDate img, .buttonPreviousDate img {
  margin-top: 7px;
  width: 10px;
  height: 10px;
  transform: scale(1.2)
}

.choosedDate {
  box-sizing: border-box;
  width: 146px;
  padding: 5px 13.5px;
  font-family: HelveticaNeue, Open Sans, sans-serif;
  font-size: 15px;
  color: #000000;
  letter-spacing: 0;
  cursor: pointer;
  text-align: center;
  user-select: none;
}
.choosedDate:hover {
  border-radius: 100px;
  background-color: rgba(190, 192, 194, 0.2);
}

.threeMonthsCalendar {
  position: absolute;
  margin-top: 12px;
  box-shadow: 0 1px 16px rgba(0,0,0,0.2);
  background-color: white;
  width: 735px;
  height: 260px;
  z-index: 999;
  border-radius: 6px;
}
.DayPicker-wrapper {
  outline: none;
}
.DayPicker-Months {
  margin: 15px 20px;
  flex-wrap: nowrap;
  font-size: 0.8em;
}
.DayPicker-Month {
  margin: 0 0.7rem;
}
.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
  background-color: #007DFF;
  border-radius: 100%;
}

/*hoursCell*/

.hoursCell {
  display: flex;
  align-items: center;
  height: 45px;
  border-bottom: 1px solid rgb(240,240,240);
}

.hour {
  flex-grow: 1;
  margin-left: 17px;
  height: 13px;
  font-family: HelveticaNeue, Open Sans, sans-serif;
  font-weight: 700;
  font-size: 11px;
  color: #858E98;
  letter-spacing: 0.4px;
  text-align: center;
}
.hour:first-child {
  margin-left: 4px;
}


.currentTime {
  position: absolute;
  margin-left: 69px;
}

.time {
  width: 49px;
  padding-top: 3px;
  padding-bottom: 4px;
  background: #007DFF;
  border-radius: 100px;
  font-family:  HelveticaNeue, Open Sans, sans-serif;
  font-size: 11px;
  font-weight: 700;
  color: #FFFFFF;
  letter-spacing: 0.4px;
  text-align: center;
}

.timeLine {
  position: absolute;
  left: 26px;
  border-top: 1px solid #007DFF;
  border-right: 1px solid #007DFF;
  height: 500px;
}