
.dateAndHours {
  display: grid;
  height: 46px;
  grid-template-columns: 245px auto;
  border-bottom: 1px solid rgb(240,240,240);
}

.eventsGrid {
  display: grid;
  grid-template-columns: 100% 100%;
  grid-template-areas: 
    "roomEventsColumn gridTimeColumn"
}
