:root {
  --left-column-width: 245px;
}


@media screen and (min-width: 765px) and (max-width: 1024px) {
  :root {
    --left-column-width: 200px;
  }
}

@media screen and (max-width: 764px) {
  :root {
    --left-column-width: 184px;
  }
}


.dateAndHours {
  display: grid;
  grid-template-rows: 46px;
  grid-template-columns: var(--left-column-width) auto;
  border-bottom: 1px solid rgb(240,240,240);
  grid-template-areas: 
    "dateColumn hoursColumn"
}

.eventsGrid {
  display: grid;
  grid-template-columns: 100% 100%;
  grid-template-areas: 
    "roomEventsColumn gridTimeColumn"
}
/*
@media screen and (max-width: 700px) {
  .dateAndHours {
    grid-template-columns: 181px 1024px;
    grid-template-rows: 46px 32px;
    grid-template-areas: 
      "dateColumn dateColumn"
      ". hoursColumn"
  }
  .eventsGrid {
    grid-template-columns: 1024px 1024px;
  }
}
*/
