
.roomEventsColumn {
  grid-area: roomEventsColumn;
  background-color: transparent;
  z-index: 2;
}

.floorInfo {
  padding-top: 23px;
  padding-bottom: 2px;
  margin-bottom: -8px;
}


.floorInfo, .roomInfo {
  box-sizing: border-box;
  /*variable from mainPage.css*/
  flex-basis: var(--left-column-width);
  width: var(--left-column-width);
  padding-left: 22px;
}

@media screen and (max-width: 764px) {
  .floorInfo {
    padding-bottom: 10px;
    background-color:  rgb(246,246,249);
  }
  .roomInfo {
    background-color:  white;
  }
}
.floorName {
  font-size: 11px;
  text-transform: uppercase;
  font-family: HelveticaNeue, Open-sans, sans-serif;
  font-weight: 600;
  color: #858E98;
  word-spacing: 0.4px
}


.room {
  display: flex;
  padding-top: 8px;
  height: 44px;
  font-family: HelveticaNeue, Open Sans, sans-serif;
}

@media screen and (max-width: 764px) {
  .room {
    padding-top: 0px;
    border-bottom: 2px solid rgb(246,246,249);
    height:  50px;
  }
}

.roomInfo {
  padding-top: 4px;
}

.roomInfoHidden {
  height: 24px;
  padding: 5px;
  position: absolute;
  width: max-content;
  background: white;
  box-shadow: 0 1px 8px 0 rgba(0,44,92,0.28);
  border-radius: 4px;
  z-index: 999;
}

.roomInfo .roomInfoName {
  font-weight: 600;
  font-size: 15px;
  line-height: 17px
}
.roomInfoHidden .roomInfoName {
  font-size: 11px;
  color: #858E98;
  letter-spacing: 0.4px;
}

.roomInfoCapacity {
  margin-top: 2px;
  font-size: 13px;
  line-height: 17px
}
.fullBusyRoom {
  color: #858E98;
}

.roomSceduleWrapper {
  /*variable from mainPage.css*/
  width: calc(100% - var(--left-column-width));
  background-color: transparent;
}

.roomScheduleWrapperScrolled {
  margin-left: var(--left-column-width);
}

@media screen and (max-width: 764px) {
  .roomSceduleWrapper {
    
  }
}

.roomSchedule {
  display: flex;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: rgba(206, 217, 228, 0.5);
  height: 28px;
  padding-left: 3.2%;
  padding-right: 3.2%;
}

@media screen and (max-width: 764px) {
  .roomSchedule {
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.event {
  height: 28px;
  cursor: pointer;
}
@media screen and (max-width: 764px) {
  .event {
    height: 100%;
  }
}


.event:hover {
  background-color: #99A9B9;
}

.emptyTime {
  background-color: white;
  height: 28px;
  cursor: pointer;
}

@media screen and (max-width: 764px) {
  .emptyTime {
    height: 100%;
  }
}

.emptyTime:hover {
  background-color: #2B50FD;
  transform: scaleY(1.05)
}

.pluseSign {
  width: 100%;
  height: 100%;
  color:white;
  font-weight: 600;
  text-align: center;
  font-size: 24px;
  margin-top: -3px;
}

@media screen and (max-width: 764px) {
  .pluseSign {
    margin-top: 5px;
  }
}

.eventToolTipParent {
  position: relative;
  z-index: 999;
}
.eventTooltip {
  position: absolute;
  width: 338px;
  left: calc(-169px + 50%);
  top: 0px;
  height: 120.8px;
  margin-top: 28px;
  background-color: white;
  box-shadow: 0 1px 16px rgba(0,0,0,0.2);
  border-radius: 6px;
}
@media screen and (max-width: 764px) {
  .eventToolTipParent {
    
  }
  .eventTooltip {
    
  }
}
.triangleBorder {
  background: transparent;
  position: relative;
}

.triangleBorder:before {
  content: ''; 
  position: absolute;
  left: 158px;
  bottom: 0px;
  border: 9px solid transparent;	border-bottom: 9px solid white;
}

.editEventButton {
  float: right;
  margin-right: 5px;
  margin-top: 5px;
  width: 24px;
  height: 24px;
  background-color: #E9ECEF;
  border-radius: 100px;
  text-align: center;
}
.editEventButton:hover {
  background-color: rgb(204, 206, 207);
}
.editEventButton img {
  margin-top: 6px;
  opacity: 0.43;
}

.eventInfo h1 {
  margin: 12px 16px 2px 16px;
  font-family: HelveticaNeue-Bold, Open Sans, sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #000000;
  letter-spacing: 0;
  line-height: 24px;
}


.eventInfo p {
  margin: 0px 16px;
  font-family: HelveticaNeue, Open Sans, sans-serif;
  font-size: 13px;
  color: #000000;
  letter-spacing: 0;
  line-height: 17px;
}

.eventInfo p:last-child {
  margin-top: 19px;
}
.mentorName {
  margin-left: 9px;
}
.amountPeople {
  color: rgb(138, 138, 138);
}
.mentorAvatar {
  position: relative;
  top: 6px;
  width: 24px;
  height: 24px;
  border-radius: 100%;
}